.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
  /*  top: 0px;
    left: 0px; */
    opacity: .4; /* in FireFox */ 
    filter: alpha(opacity=40); /* in IE */
	pointer-events: none;
}